/*
 * @Author: jieyun Ren
 * @Date:   2020-03-07 14:26:02
 * @Last Modified by: jieyun ren
 * @Last Modified time: 2020-03-10 18:11:58
 */
$point-color1: #9586ed;
$point-color2: #4cb3c2;
$point-color3: #f0a13a;
.endpointSourceLabel,
.endpointTargetLabel {
  line-height: 1em;
  font-size: 12px;
  color: #8f9092;
  text-align: center;
  display: none;
  em {
    font-style: normal;
    font-size: 0.8em;
  }
}
// .endpointTargetLabel {

// }
.vsSourceEndpoint {
  width: 10px;
  height: 7px;
  overflow: hidden;
  background-color: #fff;
  border-radius: 0 10px 10px 0;
}
.vsTargetEndpoint {
  width: 10px;
  height: 5x;
  background-color: #fff;
  border-radius: 10px 0 0 10px;
}
.vsTargetEndpoint.endpointType1 {
  background-color: $point-color1;
}
.vsTargetEndpoint.endpointType2 {
  background-color: $point-color2;
}
.vsTargetEndpoint.endpointType3 {
  background-color: $point-color3;
}
.vsSourceEndpoint.endpointType1 {
  border: 1px $point-color1 solid;
}
.vsSourceEndpoint.endpointType2 {
  border: 1px $point-color2 solid;
}
.vsSourceEndpoint.endpointType3 {
  border: 1px $point-color3 solid;
}
.connectDeleteIcon {
  width: 30px;
  height: 30px;
  background-color: #e0e0e0;
  border-radius: 30px;
  display: block;
  text-align: center;
  cursor: pointer;
  line-height: 30px;
}

.MuiDialog-paperWidthSm {
  max-width: 846px;
}

.MuiCollapse-entered  {
  width: 100%;
}